<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="./css/mainStyle.css" type="text/css" />
	<title>МГТУ «Станкин»</title>
</head>
<body>

<div id="all">


	<div class="align_center"  style="background: white;border: 0px;">
    	<div class="align_center_to_left">
        	<div class="align_center_to_right">
        			<div class="issuesInfo">
        				<div class="issuesInfoList">
        					<div class="issuesInfoListBranchesHeader">Ветки</div>
        					<div class="issuesInfoListBranchesContainer">
        						<div class="projectBox">
        							<div class="issuesInfoListBranchesImg">
        								<img src="./img/treeIcon.png">
        							</div>
        							<div class="issuesInfoListBranchesText">
        								<div class="issuesInfoListBranchesUserName">Bezneima</div>
        								<div class="issuesInfoListBranchesBrancesName">Master</div>
        							</div>
        							<div style="line-height: 33px;">></div>
        						</div>
        					</div>
        					
        				</div>
        				<div class="issuesInfoCommits">
        					<div class="issuesInfoCommitsHeader">Коммиты</div>
        					<div class="issuesInfoCommitsCommit">
        						<div class="issuesInfoCommitsCommitInfo">
        							<div class="issuesInfoCommitsCommitInfoID">№0</div>
        							<div class="issuesInfoCommitsCommitInfoName">Bezneima</div>
        						</div>
        						<div class="issuesInfoCommitsCommitText">Какой-то текст длинный возмоно с каимито ввста киыи  пфпывп цп фывп фцуп фвыпфывп фывпвы пфывп фывп фыпфпупфувпфы пыф
        						</div>
        					</div>
        				</div>
        				<div class="issuesInfoCommitsText">
        					<div class="issuesInfoCommitsTextLine">
        						<div class="issuesInfoCommitsTextLineText colorRed">0 Удаленая строчка 0 Удаленая строчка 0 Удаленая строчка 0 Удаленая строчка0 Удаленая строчка 0 Удаленая строчка</div>	
        					</div>
        				</div>
        			</div>
        	</div>
        </div>
    </div>


	
</div>


</body>
<script src="./mainUtils.js"></script>
<script src="./login.js"></script>

</html>